body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    height: 1000px;
    width: 100%;
    padding: 0;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

html{
    width: 100%;
}

.background{    
    margin-top: 5%;
    height: 70%;
    width: 100%;
    
    color: black;
    
    display: block;    
}

.Header{
   height: 70px;
   position: fixed;
   display: inline;
  
   width: 100%;
   backdrop-filter: blur(5px);
   background-color: rgba(0, 0, 0, 0.336);
   box-shadow: 0 0 25px 25px;
}

.Header button{
    margin-top: 1%;
    text-decoration:none;
    background: none;
    border: none;
    color: white;
    margin-left: 19%;
    font-family: HeaderFont;
    font-size: 18px;

}

.contents{
    display: flex;
    

}

@font-face {
    font-family: BlogFont;
    src: url(Fonts/Agelast-mLlAm.otf);
  }

.blog1{
    width: 60%;
    height: 60%;
    background-color: rgb(250, 225, 0);
    margin-top: 10%;
    display: flex;
    color: white;
    
    margin-left: 20%;
    padding: 20px 20px;
}

.blog1 h2{
    font-family: BlogFont;
}

.blog1 h1{
    font-family: BlogFont;
    font-size: 46px;
}

.blog1 p{
    font-family: ComfortFont;
}

.blog1 a{
 font-family: ComfortFont;
}


.blog1:hover{
    background-color: rgba(44, 44, 44, 0.575);
    transition: 0.8s;
    border-radius: 20px;
    cursor: pointer;
}

.blog1:not(:hover){
    background-color: rgba(26, 26, 26, 0.5);
    transition: 0.8s;
    border-radius: 20px;
}

.blog2{
    width: 60%;
    height: 20%;
    background-color: rgba(26, 26, 26, 0.5);
    margin-top: 5%;
    display: flex;
    color: white;
    
    margin-left: 20%;
    padding: 20px 20px;
    border-radius: 20px;
    
    
}

.blog2:hover{
    background-color: rgba(44, 44, 44, 0.575);
    transition: 0.8s;
    border-radius: 20px;
    
}

.blog2:not(:hover){
    background-color: rgba(26, 26, 26, 0.5);
    transition: 0.8s;
    border-radius: 20px;
}

.intext2{
    margin-left: 5%;
}
.blog2 h2{
    font-family: BlogFont;
}

.blog2 p{
    font-family: ComfortFont;
}

#CheckOut{
    text-decoration: underline;
    color: rgb(250, 225, 0);
}

#img1{
 margin-right: 8%;
 width: 40%;
height: 90%; 
margin-top: 3%;
}

.intext{
    margin-top: 20%;
    padding: 5px 10px;
}

#Mark{
    background-color: gray;
}



@font-face {
    font-family: Entanglement;
    src: url(Fonts/Entanglement-rgpRB.ttf);
  }

  @font-face {
    font-family: HeaderFont;
    src: url(Fonts/Vonique\ 92_D.otf);
  }

  @font-face {
    font-family: ComfortFont;
    src: url(Fonts/Comfortaa-Light.ttf);
  }

.space{
 margin-top: 15%;
 margin-left: 7%;
 width: 35%;
 height: 20%;
 font-size: 72px;
 font-family: Entanglement;
 
}

#img2{
    width: 25%;
    height: auto;
}



#active{
    color: rgb(255, 230, 1);
   
   
}




@media screen and (max-width: 1500px) {
    .space{
        font-size: 46px;    
    }

    .intel{
        font-size: 46px;
        margin-top: -5%;
        margin-left: 20%;
    }

    .background {
        display: block;
        
    }

}

@media screen and (max-width: 600px) {
    .space{
        font-size: 46px;
        height: 10%;    
    }

    .intel{
        font-size: 46px;
        margin-top: -10%;
        margin-left: 7%;
        height: 10%;
    }

    .background {
        display: block;
        
    }

}

@media screen and (max-width: 1025px) {
    .Header button{
        margin-left: 15%;
    }

}

@media screen and (max-width: 700px) {
    .Header button{
        margin-left: 10%;
    }

}

@media screen and (max-width: 550px) {
    .Header button{
        margin-left: 4%;
    }

}

@media screen and (max-width: 430px) {
    .Header button{
        margin-left: 1%;
        font-size: 12px;
    }

}

#HomePage:hover{
    
    
    color: rgb(255, 230, 1);
    font-size: 20px;
    transition: 0.5s;
}

.Design:hover{
    
    
    color: rgb(255, 230, 1);
    font-size: 20px;
    transition: 0.5s;
    
}

#HomePage:not(:hover){
    
    font-size: 16px;
    transition: 0.5s;
}

.Design:not(:hover){
    
    font-size: 16px;
    transition: 0.5s;
}