body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    height: 1000px;
    width: 100%;
    padding: 0;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

html{
    width: 100%;
}

.Background{    
    margin-top: 5%;
    height: 100%;
    width: 100%;
    
    color: rgb(255, 255, 255);
    
    display: block;    
}

.Header{
   height: 70px;
   position: fixed;
   display: inline;
  
   width: 100%;
   backdrop-filter: blur(5px);
   background-color: rgba(0, 0, 0, 0.336);
   box-shadow: 0 0 25px 25px;
}

.Header a{
    margin-top: 10%;
    text-decoration:none;
    background: none;
    border: none;
    color: white;
    margin-left: 14%;
    font-family: HeaderFont;
    font-size: 18px;

}

#navigation{
    margin-top: 1%;
}


@font-face {
    font-family: Entanglement;
    src: url(Fonts/Entanglement-rgpRB.ttf);
  }

 

  @font-face {
    font-family: HeaderFont;
    src: url(Fonts/Vonique\ 92_D.otf);
  }

  @font-face {
    font-family: ComfortFont;
    src: url(Fonts/Comfortaa-Light.ttf);
  }

  Header nav .Active{
    color: rgb(255, 230, 1);
   
   
}

#Viz{
    margin-left: 27%;
    margin-top: 5%;
    width:713px;
    height: 520px;
    padding: 50px;
    background-color: rgba(44, 44, 44, 0.575);
    border-radius: 25px;
    color: white;
    fill: rgb(207, 73, 20);
}

#Viz2{
    margin-left: 27%;
    margin-top: 5%;
    width:713px;
    height: 520px;
    padding: 50px;
    background-color: rgba(44, 44, 44, 0.575);
    border-radius: 25px;
    color: white;
    fill: rgb(207, 73, 20);
    
}

#Viz3{
  margin-left: 27%;
  margin-top: 5%;
  width:713px;
  height: 520px;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.575);
  border-radius: 25px;
  color: white;
  fill: rgb(207, 73, 20);
  
}

#ScrollToTop{
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid green; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(44, 44, 44, 0.575); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  
  }

  h1{
    margin-left: 37%;
    font-family: HeaderFont;
    margin-top: 5%;
    font-size: 46px;
    
  }

  h2{
    margin-left: 39%;
    font-family: HeaderFont;
    margin-top: 5%;
    font-size: 46px;
    
  }

  h3{
    margin-left: 39%;
    font-family: HeaderFont;
    margin-top: 5%;
    font-size: 46px;
    
  }

  p{
    width: 50%;
    margin-left: 25%;
    line-height: 2;
    font-family: ComfortFont;
  }

  .Img{
    margin-left: 30%;
    border-radius: 20px;
  }

  .button{
    margin-right: 10px;
  }

