body{
    background-image: url(images/SpaceManV2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    height: 1000px;
    width: 100%;
    padding: 0;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

html{
    width: 100%;
}

.background{    
    margin-top: 5%;
    height: 70%;
    width: 100%;
    
    color: white;
    
    display: block;    
}

.Header{
   height: 70px;
   position: fixed;
   display: inline;
  
   width: 100%;
   backdrop-filter: blur(5px);
   background-color: rgba(0, 0, 0, 0.336);
   box-shadow: 0 0 25px 25px;
}

.Header button{
    margin-top: 1%;
    text-decoration:none;
    background: none;
    border: none;
    color: white;
    margin-left: 19%;
    font-family: HeaderFont;
    font-size: 18px;

}


@font-face {
    font-family: Entanglement;
    src: url(Fonts/Entanglement-rgpRB.ttf);
  }

  @font-face {
    font-family: HeaderFont;
    src: url(Fonts/Vonique\ 92_D.otf);
  }

  @font-face {
    font-family: ComfortFont;
    src: url(Fonts/Comfortaa-Light.ttf);
  }

.space{
 margin-top: 15%;
 margin-left: 7%;
 width: 35%;
 height: 20%;
 font-size: 72px;
 font-family: Entanglement;
 
}

.intel{
    margin-top: -12.5%;
    margin-left: 67%;
    width: 28%;
    height: 20%;
    font-size: 72px;
    font-family: Entanglement;
    
   }

#active{
    color: rgb(255, 230, 1);
   
   
}

.info1{
    
    width: 100%;
    height: 30%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40%;    
    
    display: block;
    background-color: white;
    font-family: ComfortFont;
    color: black;
    
    line-height: 30px;
    
    overflow: auto;
}

.info1 h2{
    margin-left: 45%;
    font-size: 32px;
    padding: 10px 10px;
}

.info1 p{
    padding: 10px 10px;
    margin-left: 5%;
    
}

.info2{
    
    width: 100%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;    
    
    
    background-color: white;
    font-family: ComfortFont;
    color: black;
   
    line-height: 30px;
    display: flex;
    overflow: auto;
    
}

.info2 h2{
    margin-left: 45%;
    font-size: 32px;
    
}

.info2 p{
    margin-left: 5%;
    overflow: auto;
}

#SpaceImg{
    width: 35%;
    height: auto;    
}

.info3{
    
    width: 100%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;    
    
    
    background-color: white;
    font-family: ComfortFont;
    color: black;
   
    line-height: 30px;
    display: flex;
    overflow: auto;
    
}

.info3 h2{
    margin-left: 45%;
    font-size: 32px;
    
}
.info3 p{
    margin-left: 5%;
    overflow: auto;
}

#SpaceImg2{
    width: 35%;
    height: auto;    
}

.info4{
    
    width: 100%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;    
    
    
    background-color: white;
    font-family: ComfortFont;
    color: black;
   
    line-height: 30px;
    display: flex;
    overflow: auto;
    
}

.info4 h2{
    margin-left: 35%;
    font-size: 32px;
    
}
.info4 p{
    margin-left: 5%;
   
}

#SpaceImg4{
    width: 25%;
    height: auto;    
}

.info5{
    
    width: 100%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;    
    
    
    background-color: white;
    font-family: ComfortFont;
    color: black;
   
    line-height: 30px;
    display: flex;
    overflow: auto;
    
}

.info5 h2{
    margin-left: 35%;
    font-size: 32px;
    
}
.info5 p{
    margin-left: 5%;
    
}

#SpaceImg5{
    width: 25%;
    height: auto;    
}

@media screen and (max-width: 1500px) {
    .space{
        font-size: 46px;    
    }

    .intel{
        font-size: 46px;
        margin-top: -5%;
        margin-left: 20%;
    }

    .background {
        display: block;
        
    }

}

@media screen and (max-width: 600px) {
    .space{
        font-size: 46px;
        height: 10%;    
    }

    .intel{
        font-size: 46px;
        margin-top: -10%;
        margin-left: 7%;
        height: 10%;
    }

    .background {
        display: block;
        
    }

}

@media screen and (max-width: 1025px) {
    .Header button{
        margin-left: 15%;
    }

}

@media screen and (max-width: 700px) {
    .Header button{
        margin-left: 10%;
    }

}

@media screen and (max-width: 550px) {
    .Header button{
        margin-left: 4%;
    }

}

@media screen and (max-width: 430px) {
    .Header button{
        margin-left: 1%;
        font-size: 12px;
    }

}

#Blogs:hover{
    
    
    color: rgb(255, 230, 1);
    transition: 0.5s;
    font-size: 20px;

}

#Blogs:not(:hover){
    
    
    
    transition: 0.5s;
    font-size: 16px;

}

.Design:hover{
    
    
    color: rgb(255, 230, 1);
    transition: 0.5s;
    font-size: 20px;
    
}

.Design:not(:hover){
    
    
    
    transition: 0.5s;
    font-size: 16px;

}